{% extends "./layout.html" %}
{% load humanize %}
{% load static %}

{% block contents %}
  <section class="course-section">
    <h2 class="section-title">강의 목록</h2>
    <div class="course-container">
      {% for lec in lecture_list %}
        <div class="course-card" data-id="{{ lec.id }}" data-category="">
          <img src="{{ lec.lec_img_link }}" alt="{{ lec.lec_title }}" class="course-image">
          <div class="course-info">
            {% comment %} <a href="{{ lec.lec_link }}" class="course-title">{{ lec.lec_title }}</a> {% endcomment %}
            <a href="{% url 'lecture-detail' lec.category_id lec.id %}" class="course-title">{{ lec.lec_title }}</a>
            <div class="course-instructor">{{ lec.lecturer.lecturer_name }}</div>
            <div class="course-rating">
              <span class="star">★</span>
              <span class="rating-number">{{ lec.rating }}</span>
              <span class="review-count">({{ lec.review_count|intcomma }})</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="d-flex justify-content-center my-4">
      <nav aria-label="Page navigation">
          <ul class="pagination">
              {% if lecture_list.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page=1" aria-label="First">
                          <span aria-hidden="true">&laquo;&laquo;</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ lecture_list.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" aria-label="First">
                          <span aria-hidden="true">&laquo;&laquo;</span>
                      </a>
                  </li>
                  <li class="page-item disabled">
                      <a class="page-link" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
              {% endif %}
  
              {% for num in lecture_list.paginator.page_range %}
                  {% if lecture_list.number == num %}
                      <li class="page-item active">
                          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                      </li>
                  {% elif num > lecture_list.number|add:'-3' and num < lecture_list.number|add:'3' %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                      </li>
                  {% endif %}
              {% endfor %}
  
              {% if lecture_list.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ lecture_list.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ lecture_list.paginator.num_pages }}" aria-label="Last">
                          <span aria-hidden="true">&raquo;&raquo;</span>
                      </a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  <li class="page-item disabled">
                      <a class="page-link" aria-label="Last">
                          <span aria-hidden="true">&raquo;&raquo;</span>
                      </a>
                  </li>
              {% endif %}
          </ul>
      </nav>
  </div>
  
  </section>
  

  <div id="loginModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="login-form">
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo-img">
        <form method="POST" action="{% url 'user:login' %}">
          {% csrf_token %}
          <input type="email" placeholder="이메일" required="required">
          <input type="password" placeholder="비밀번호" required="required">
          <button type="submit" class="login-btn">로그인</button>
          <div class="links">
            <a href="#">비밀번호 찾기</a>
            |
            <a href="{% url 'user:register' %}">회원가입</a>
            |
            <a href="#">아이디(이메일) 찾기</a>
          </div>
          <div class="social-login">
            <p>간편 로그인</p>
            <div class="social-icons">
              <a href="#"><img src="{% static 'images/kakao.png' %}" alt="Kakao"></a>
              <a href="#"><img src="{% static 'images/google.png' %}" alt="Google"></a>
              <a href="#"><img src="{% static 'images/github.png' %}" alt="GitHub"></a>
              <a href="#"><img src="{% static 'images/apple.png' %}" alt="Apple"></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}